---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb mt-2">
    <div class="fb">
      <span class="gpt-title">神奇海螺</span>
      <span class="inline-block"><Logo /></span>
      <span class="gpt-subtitle">俱乐部</span>
    </div>
    <Themetoggle />
  </div>
  <div class="mt-1 text-slate">
    <span>Powered by OpenAI (GPT-3.5), </span>
    <!-- <span>|</span> -->
    <a href="https://github.com/aimkiray/chatgpt-conch" class="b-slate-link" target="_blank">Source Code.</a>
  </div>
</header>
